[submodule "twaattin"]
	path = twaattin
	url = git@github.com:nfrankel/twaattin.git
[submodule "buttongroup"]
	path = buttongroup
	url = https://github.com/nfrankel/buttongroup.git
[submodule "clara"]
	path = clara
	url = https://github.com/nfrankel/clara.git
[submodule "jpacontainer"]
	path = jpacontainer
	url = https://github.com/nfrankel/jpacontainer
[submodule "cdiutils"]
	path = cdiutils
	url = https://github.com/nfrankel/cdiutils
[submodule "client-extension"]
	path = client-extension
	url = git@github.com:nfrankel/client-extension.git
[submodule "gwt-integration"]
	path = gwt-integration
	url = git@github.com:nfrankel/gwt-integration.git
[submodule "js-integration"]
	path = js-integration
	url = git@github.com:nfrankel/js-integration.git
